/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2024, 07:09:22 PM
    Author     : pcgc7
*/

body { font-family: 'Open Sans', sans-serif; background-image: url('../imgAperitivos/fondoAperitivos.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh; }
.colorFondo { background-color: rgba(0, 0, 0, 0.5); }

/****************************** HEADER *****************************************/

header { background-image: linear-gradient(to right, #fff 0%, #a12312 100%); z-index: 30; }
.p-3 { padding: 1em !important; }
.w-100 { width: 70% !important; }
nav { flex-wrap: nowrap; justify-content: space-around; }
nav ul li a { font-size: 1.25em !important; }
.mx-4 { margin-left: 1em !important; margin-right: 1em !important; }

/****************************** SECCION PRINCIPAL ******************************/

.display-4 { font-size: 3em !important; }
.pt-3 { padding-top: 1em !important; }
.pb-5 { padding-bottom: 3em !important; }
p { font-size: 0.9em; }
.imgPlato { max-width: 95%; }    
h6 { font-size: 1em; }

/****************************** MEDIA QUERIES ******************************/

@media screen and (min-width: 1424px) and (max-width: 1647.98px) {

    /****************************** HEADER *****************************************/

    .p-3 { padding: 1em !important; }
    .w-100 { width: 75% !important; }
    nav ul li a { font-size: 1em !important; }
    .mx-4 { margin-left: 0.75em !important; margin-right: 0.75em !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .display-4 { font-size: 3em !important; }
    .pt-3 { padding-top: 0.75em !important; }
    .pb-5 { padding-bottom: 2.5em !important; }    
    p { font-size: 0.8em; }
    .imgPlato { max-width: 90%; }    
    h6 { font-size: 0.85em; }    
            
}

@media screen and (min-width: 1200px) and (max-width: 1423.98px) {
    
    /****************************** HEADER *****************************************/

    .p-3 { padding: 1em !important; }
    .w-100 { width: 80% !important; }
    nav ul li a { font-size: 1em !important; }
    .mx-4 { margin-left: 0.75em !important; margin-right: 0.75em !important; }
    .px-4 { padding-left: 0.75em !important; padding-right: 0.75em !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .display-4 { font-size: 2.5em !important; }
    .pt-3 { padding-top: 0.75em !important; }
    .pb-5 { padding-bottom: 2em !important; }    
    p { font-size: 0.8em; }
    .imgPlato { max-width: 90%; }    
    h6 { font-size: 0.85em; }    
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    /****************************** HEADER *****************************************/

    .p-3 { padding: 0.75em !important; }
    .w-100 { width: 85% !important; }
    nav ul li a { font-size: 0.85em !important; }
    .mx-4 { margin-left: 0.5em !important; margin-right: 0.5em !important; }
    .px-4 { padding-left: 0.5em !important; padding-right: 0.5em !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .display-4 { font-size: 2em !important; }
    .pt-3 { padding-top: 0.75em !important; }
    .pb-5 { padding-bottom: 1.5em !important; }    
    p { font-size: 0.8em; }
    .imgPlato { max-width: 85%; }    
    h6 { font-size: 0.85em; }    
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {

    /****************************** HEADER *****************************************/

    .p-3 { padding: 0.75em !important; }   
    .w-100 { width: 85% !important; }
    .nav { flex-wrap: nowrap; border-top: 1px solid #000;}
    nav ul {justify-content: space-around; padding-top: 0.5em; margin-top: 0.5em; }
    nav ul li a { font-size: 0.85em !important; }     
    .mx-4 { margin-left: 0.25em !important; margin-right: 0.25em !important; }
    .px-4 { padding-left: 0.25em !important; padding-right: 0.25em !important; }     
    .btn { font-size: 2em; }
    
    /****************************** SECCION PRINCIPAL ******************************/

    .display-4 { font-size: 2em !important; }
    .pt-3 { padding-top: 0.5em !important; }
    .pb-5 { padding-bottom: 1.5em !important; }    
    p { font-size: 0.7em; }   
    .imgPlato { max-width: 85%; }
    h6 { font-size: 0.85em; }   
    
    
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    /****************************** HEADER *****************************************/

    .p-3 { padding: 0.5em !important; }
    .w-100 { width: 100% !important; }
    .nav { flex-wrap: nowrap; border-top: 1px solid #000;}
    nav ul {justify-content: space-around; padding-top: 0.5em; margin-top: 0.5em; }    
    nav ul li a { font-size: 0.7em !important; }        
    .mx-4 { margin-left: 0.25em !important; margin-right: 0.25em !important; }
    .px-4 { padding-left: 0.25em !important; padding-right: 0.25em !important; } 
    .btn { font-size: 1.5em; }

    /****************************** SECCION PRINCIPAL ******************************/
    
    .display-4 { font-size: 1.5em !important; }
    .pt-3 { padding-top: 0.5em !important; }
    .pb-5 { padding-bottom: 1em !important; }    
    p { font-size: 0.6em; }
    .imgPlato { max-width: 85%; }
    h6 { font-size: 0.75em; }            
}

@media screen and (max-width: 575.98px) {
    
    /****************************** HEADER *****************************************/
    
    .p-3 { padding: 0.5em !important; }
    .w-100 { width: 100% !important; }
    .nav { flex-wrap: nowrap; border-top: 1px solid #000;}
    nav ul {justify-content: space-around; padding-top: 0.5em; margin-top: 0.5em; }    
    nav ul li a { font-size: 0.7em !important; }        
    .mx-4 { margin-left: 0.25em !important; margin-right: 0.25em !important; }
    .px-4 { padding-left: 0.25em !important; padding-right: 0.25em !important; }    
    .btn { font-size: 1.5em; }
    
    /****************************** SECCION PRINCIPAL ******************************/
    
    .display-4 { font-size: 1.5em !important; }
    .pt-3 { padding-top: 0.5em !important; }
    .pb-5 { padding-bottom: 1em !important; }    
    p { font-size: 0.5em; }
    .imgPlato { max-width: 85%; }
    h6 { font-size: 0.65em; } 
}